{% extends 'base.html.twig' %}

{% block title %}LoL Cooldowns{% endblock %}

{% block body %}
    <div class="d-flex">
        <div    id="form-position-large"
                class="mx-2 d-none d-xxl-block d-xl-block m-auto h-full d-flex justify-content-center align-items-center"
                style="min-width: 320px">
            {% if form is defined %}
                {% include 'components/_search_form.html.twig' with {
                    form: form
                } only %}
            {% endif %}
        </div>
        <div class="w-100">
            {% for champion in champions %}
                {% set i = loop.index0 %}
                {% include 'components/_champion_view.html.twig'  with {'i': i} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}