<nav class="p-2 navbar navbar-light bg-dark">

    <div class="container-fluid d-flex align-items-center justify-content-">
        <div class="dropdown d-flex keep-inside-clicks-open">
            <button
                    class="btn btn-light dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-mdb-dropdown-init
                    data-mdb-ripple-init
                    aria-expanded="false"
                    data-mdb-offset="10,20"
            >
                Champions & Haste
            </button>

            <ul     id="form-position-small"
                    class="dropdown-menu bg-dark-subtle"  style="width: 320px"  aria-labelledby="dropdownMenuButton">

            </ul>
        </div>

            <h1 class="display-6 d-none d-sm-block d-md-block"> lolcooldowns </h1>
            Patch :  {{ include('version.txt') }}


            <span class="navbar-brand text-center" >
                <img
                        src="{{ asset('/images/icons/favicon-32x32.png') }}"
                        height="32"
                        alt="Cooldown Logo"
                        loading="lazy"
                />
            </span>

    </div>
</nav>