<nav class="p-3 navbar navbar-light bg-dark">

    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex mx-4">
            <button
                    class="btn btn-lg  btn-light"
                    data-mdb-ripple-init disabled
            >
                Champions & Haste
            </button>
        </div>

        <h1 class="display-6 mx-4"> LoL Cooldowns</h1>

        <span class="navbar-brand text-center mx-4" >
            <img
                    src="{{ asset('/images/icons/favicon-32x32.png') }}"
                    height="32"
                    alt="Cooldown Logo"
                    loading="lazy"
            />
        </span>
    </div>
</nav>